:root {
  --primary-color: #95adbe;
  --secondary-color: #ff7a5c;
  --black-color: #000000;
  --black-color-dark: #1a1a1a;
  --black-color-light: #999999;
  --white-color: #ffffff;
  --white-color-light: #f5f4f0;
  --primary-font: "Lora", serif;
  --secondary-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: var(--black-color-light);
  font-family: var(--primary-font);
}
/* header styling */

.header-top{
  display: flex;
justify-content: space-between;
padding: 3rem 2rem;
border-bottom: 1px solid var(--white-color-light);
}
/* First breakpoint ~700px */
@media screen and (max-width: 43.75em) {
  .header-top {
    padding: 2rem 1rem;
  }
}

/* Second breakpoint ~650px */
@media screen and (max-width: 40.65em) {
  .header-top {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.header-social-icons {
  display: flex;
  gap: 1rem;
}

.header-social-icon  {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 3rem;   /* make sure width = height */
  height: 3rem;

  border-radius: 50%; /* makes it a perfect circle */
  border: 1px solid var(--black-color-light);

  font-size: 1.6rem;
  color: var(--black-color-light);
 
}
.header-social-icon:hover {
  border-color: var(--primary-color);
  color: var(--black-color);
  transition: all 0.3s ease;
} 
.header-logo-link {
  text-decoration: none;

}
.logo-text--main{
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 700;
}

.logo-text--main span{
  color: var(--secondary-color);
}

.logo-text-sub {
  text-transform: capitalize;
  color: var(--black-color-light);
}
.header-search {
display: flex;
  width: 100%;
}
  
.header-search-input, 
.header-search-button {
   padding: 1.2rem;
   font-family: inherit;
   outline: none;
   border-radius: 5px;
}

.header-search-input {
  background-color: var(--white-color-light);
  border: 1.5px solid var(--black-color-light);
  flex-grow: 1;
}
.header-search-button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
}

.header-bottom {
  padding: 2rem;
  background-color: var(--white-color-light);
  border-bottom: 1px solid var(--white-color);
}
.header-nav-list{
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}

@media  screen and (max-width: 27em) {
  .header-nav-list{
    flex-direction: column;
    gap: 2 rem;
    align-items: center;
  }
  
}
.header-nav-item a{
  text-decoration: none;
  text-transform: uppercase;
  color : var(--black-color-dark);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.8px;
  
}
/* end of header styling */