:root {
  --primary-color: #95adbe;
  --secondary-color: #ff7a5c;
  --black-color: #000000;
  --black-color-dark: #1a1a1a;
  --black-color-light: #999999;
  --white-color: #ffffff;
  --white-color-light: #f5f4f0;
  --primary-font: "Lora", serif;
  --secondary-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: var(--black-color-light);
  font-family: var(--primary-font);
}
/* header styling */

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  border-bottom: 1px solid var(--white-color-light);
}
/* First breakpoint ~700px */
@media screen and (max-width: 43.75em) {
  .header-top {
    padding: 2rem 1rem;
  }
}

/* Second breakpoint ~650px */
@media screen and (max-width: 40.65em) {
  .header-top {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.header-social-icons {
  display: flex;
  gap: 1rem;
}

.header-social-icon {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 3rem; /* make sure width = height */
  height: 3rem;

  border-radius: 50%; /* makes it a perfect circle */
  border: 1px solid var(--black-color-light);

  font-size: 1.6rem;
  color: var(--black-color-light);
}
.header-social-icon:hover {
  border-color: var(--primary-color);
  color: var(--black-color);
  transition: all 0.3s ease;
}
.header-logo-link {
  text-decoration: none;
}
.logo-text--main {
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 700;
}

.logo-text--main span {
  color: var(--secondary-color);
}

.logo-text-sub {
  text-transform: uppercase;
  color: var(--black-color-light);
  font-size: 1.3rem;
}
.header-search {
  display: flex;
  width: 100%;
}

.header-search-input,
.header-search-button {
  padding: 1.2rem;
  font-family: inherit;
  outline: none;
  border-radius: 7px;
}

.header-search-input {
  background-color: var(--white-color-light);
  border: 1.5px solid var(--black-color-light);
  flex-grow: 1;
}
.header-search-button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
}

.header-bottom {
  padding: 2rem;
  background-color: var(--white-color-light);
  border-bottom: 1px solid var(--white-color);
}
.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}

@media screen and (max-width: 27em) {
  .header-nav-list {
    flex-direction: column;
    gap: 2 rem;
    align-items: center;
  }
}
.header-nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black-color-dark);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.8px;
}
/* end of header styling */
/* hero section styling */

.hero-section {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/3.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-textbox {
  width: 90%;
  margin: auto;
  text-align: center;
  transform: translateY(-30);
}

.hero-tagline-main {
  font-size: 6rem;
  color: var(--white-color);
  text-align: center;
}
.hero-tagline-sub {
  text-align: center;
  color: var(--white-color);
  font-size: small;
  margin: 2rem 0;
}

.hero-cta {
  justify-content: center;
  background-color: var(--white-color);
  color: var(--black-color-dark);
  text-decoration: none;
  font-size: large;
  text-transform: capitalize;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 600;
  display: inline-block;
  margin: 1.2rem;
  gap: 1rem;
}

@media screen and (max-width: 14.3em) {
  .hero-ctas {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}

.hero-cta--main {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.hero-cta--main:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--white-color);
  transition: all 0.3s ease;
}

.hero-cta--secondary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--white-color);
  transition: all 0.3s ease;
}

.hero-ctas {
  border-color: var(--primary-color);
  color: var(--black-color);
  transition: all 0.3s ease;
}

.hero-ctas {
  transition: all 0.3s ease;
}

/* end hero section styling */
/* book category stylings*/

.book-categories {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  flex-wrap: wrap; /* responsive */
  justify-content: center;
  transform: translateY(-80px);
}

.book-category-card {
  max-width: 280px;
}

.book-categories::-webkit-scrollbar {
  display: none;
}

.book-category {
  min-width: 220px;
  scroll-snap-align: start;
}

.book-category-image-wrapper {
  --book-category-image-size: 12rem;
  width: var(--book-category-image-size);
  height: var(--book-category-image-size);
  border-radius: 50%;
  background-color: var(--white-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.5s;
  cursor: pointer;
}

.book-category-image-wrapper:hover {
  background-color: var(--primary-color);
}

.book-category-image-wrapper img {
  width: 6rem;
}
.book-category-title {
  text-align: center;
  text-transform: capitalize;
  color: var(--black-color);
  font-size: 1.8rem;
  margin: 1.5rem 0;
}
.book-category-description {
  text-align: center;
  color: var(--black-color-light);
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: var(--secondary-font);
  line-height: 2;
}
/* end of book category stylings */

/* start of statistics section */

.stats {
  background-color: var(--white-color-light);
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
}

.stat-count {
  color: var(--black-color);
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}


.stat-description {
  text-transform: uppercase;
}

/*end of statistics section*/
